div.grade(layout="row", layout-fill)

    .md-whiteframe-z2(flex='', layout='column', tabindex='-1', role='main')
        md-toolbar.md-whiteframe-z1(layout='row')
            md-button(hide-gt-sm='', ng-click="openLeftMenu()", aria-label='Show User List')
                ng-md-icon(icon='menu')
            h4 Ciências da Computação
            h6 56%
            md-button(hide-gt-sm='', ng-click='ul.toggleList()', aria-label='Show User List')
                ng-md-icon(icon='search')
        md-content#content(flex='')
            md-list-item.md-2-line(ng-repeat='item in components')
                md-checkbox(ng-model="item.done")
                .md-list-item-text
                    h3 {{item.title}}
                    p {{item.description}}
                md-button.md-secondary
                    ng-md-icon(icon='more_vert')
