md-sidenav(md-component-id="left", class="md-sidenav-left", layout="column")
    header.nav-header
        a.app-logo(ng-href='/', href='/')
            img(src='assets/images/logo.svg', alt='')
            h1.md-heading.app-logotype Agrade

