$color1: #9D9483;
$color2: #A0BFAD;
$color3: #97D2BE;
$color4: #E0DCB7;
$color5: #FFF5D2;

// a {
//     color: #106CC8;
//     text-decoration: none;
//     font-weight: 400;
// }

body > div {
    height: 100%;
    background-color: #F1F1F1
}

// /* injector:scss */
 @import '../app/fonts.scss';
 @import '../app/grade/grade.scss';
 @import '../app/home/home.scss';
 @import '../components/sidenav/sidenav.scss';
 @import '../components/topToolbar/topToolbar.scss';
 /* injectorend */
