md-toolbar
    .md-toolbar-tools
        md-button(hide-gt-md="", ng-click="toggleSidenav('left')", aria-label='Menu')
            ng-md-icon(icon='menu')
        h3
            | {{context}}
        span(flex='')

