doctype html
html(lang="pt")
    head
        <title>Agrade</title>
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
        <!-- injector:dep:css -->
        <!-- endinjector -->
        base(href="/")
        link(rel="stylesheet", href="app/app.css")
        <link rel="manifest" href="manifest.json">
        <link rel="icon" type="image/png" href="assets/images/logo.png"/>
    body()
        div(ui-view='', layout="row", ng-app="Agrade", ng-cloak)


        //Dependencias

        <!-- injector:dep:js -->
        <!-- endinjector -->

        //App

        <!-- injector:js -->
        <!-- endinjector -->
