doctype html
html(lang="pt")
    head
        <title>Agrade</title>

        <!-- injector:dep:css -->
        <!-- endinjector -->
        <!-- injector:css -->
        <!-- endinjector -->
    body(ng-app="Agrade", ngCloak="")

        header

        main(ui-view="")

        footer.


        <!-- injector:dep:js -->
        <!-- endinjector -->
        <!-- injector:js -->
        <!-- endinjector -->
