doctype html
html(lang="pt")
    head
        <title>Agrade</title>

        <!-- injector:dep:css -->
        <!-- endinjector -->
        base(href="/")
        link(rel="stylesheet", href="app/app.css")
    body(ng-app="Agrade", ngCloak="", layout="row")

        main(layout="column", ui-view="", layout-fill, role="main")

        //Dependencias

        <!-- injector:dep:js -->
        <!-- endinjector -->

        //App

        <!-- injector:js -->
        <!-- endinjector -->
