.home {
    margin-top: 10%;
    .selecao {
        background-color: lightgray;
        border-radius: 10px;
        padding-bottom: 5%;

        h1 {
            margin-bottom: 0;
            font-size: 100px;
            font-family: "Roboto";
            font-weight: bold;
        }
        span.version {
            font-size: 15px;
        }
        h5 {
            margin: 0;
            font-size: 25px;
        }
        h3 {
            margin-bottom: 0;
        }
        md-autocomplete {
            width: 50%;
        }
        .entrar {
            background-color: green;
        }
        .entrar:hover {
            background-color: lightgreen;
        }
    }
}

